backend/web/assets/
nbproject/project.xml
nbproject/
backend/web/uploads/
report_cvs/
backend/assets/AppAsset.php
stats/
Alpha/
*.zip
.htaccess
.htpasswd
vendor/
destination_folder/
.idea
vagrant/
trendday/
tjw_xml/



backend/web/SSHMysql.php
xml_imported/
